.searchAndReplaceWindow {
  .x-fieldset-header-tool-default > .x-tool-toggle:before,
  .x-fieldset-default.x-fieldset-collapsed .x-tool-toggle:before {
    font-size: 12px;
  }
  .x-fieldset-header-default > .x-fieldset-header-text {
    color: #4f4f4f;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
  }
}
